<!DOCTYPE html>
<html>
<head>
	<!-- <script type="text/javascript" src="../includes/jquery-3.1.1.min.js"></script> -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
	
	<title>Profile</title>
	<style type="text/css">
		body {
		  display: flex;
		  min-height: 100vh;
		  flex-direction: column;
		}
		main {
		  flex: 1 0 auto;
		}
		.changeColour {
			background-color: #5B9279;
		}		
		#msg {
			text-align: center;
			font-size: 20px;
			margin-top: 100px;
		}
	</style>	
</head>
<body>
	<nav class="changeColour">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Flexiple<i class="material-icons">accessibility</i></a>
		</div>
	</nav>
	<div id="msg">
		Welcome to Flexiple
	</div>
</body>
</html>